// Caret
@mixin caret($point, $border: 5px, $color: #ccc) {
  $opposite: opposite($point);
  border: $border dashed transparent;
  border-#{$opposite}: $border solid $color;
  border-#{$point}: 0;
  height: 0;
  width: 0;
}

@mixin clearfix(){
  *zoom: 1;
  &:after, &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
