/*
  Summary
    1 - load normalize.css partial
    2 - load compass css3, utilitis, typography
    3 - load utilities classess html5bp
    4 - load utilities mixin
    5 - load layout mixin
    5 - set general settings
    6 - add your styles here
*/

    /* Load partials */
@import "normalize";  //1 - load normalize.css partial
@import "compass";    //2 - load compass css3, utilitis, typography
@import "html5bp";    //3 - load utilities classess html5bp
@import "utilities";  //4 - load utilities mixin
@import "layout";     //5 - load layout mixin


/* Set Layout */
$rowWidth: 100%; //generalmente 100%
$cols: 12; //numero di colonne della griglia
$gutter: 1%; //mantenere lo stesso formato della rowWidth, quindi px con px, % con %
$maxWidth: 1170px; //default null
@include createLayout($rowWidth, $cols, $gutter, $maxWidth);


/* Colors */
$mainColor: rgb(103,195,255);
$neutralColor0:rgb(68,68,68);
$neutralColor1:rgb(255,255,255);
$neutralColor2:rgb(221,221,221);
$neutralColor3:rgb(238,238,238); 


/* Set css sprite */
i {
  background-image: url('../img/cssspritepro.png');
  display: inline-block;
  &.download {
    background-position: 0px 0px;
    height: 32px;
    width: 32px;
  }
  &.heart {
    background-position: -32px 0px;
    height: 32px;
    width: 32px;
  }
}


/* General stlyes */
.container {
  margin: 0 auto;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: $neutralColor3;
}

.resizable {
  resize: both;
  overflow: hidden;
}

a {
  text-decoration: none;
  text-align: center;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.container > * {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}

.open {
  background-color: $mainColor !important;
}

.title, .placeholder {
  display: block;
  width: 100%;
  color: $neutralColor1;
  text-align: center;
  font-size: 2em;
  font-weight: 300;
}

.ui-resizable-helper { border: 2px dotted $mainColor; }

.actionsButtons span {
  display: block;
  float: left;
  height: 40px;
  line-height: 40px;
  width: 100px;
  margin-right: 5px;
  text-align: center;
  cursor: pointer;
  background-color: $neutralColor2;
  @include single-transition(all, 200ms, ease-in-out);
  &.hover {
    @include box-shadow(4px -4px 0 0 $neutralColor0);
  }
}

/* end general stlyes */

/* Specific areas */
.topBar {
  border-top: 15px solid $mainColor;
}

.topHeader {
  h1 {
    color: $mainColor;
    font-weight: 400;
    font-size: 2.5em;
  }
  ul {
    text-align: right;
  }
  li {
    display: inline-block;
    width: 130px;
    text-align: center;
    margin-right: 5px;
    background-color: $neutralColor0;
    vertical-align: top;
    a, iframe, span {
      display: block;
      padding: 5px 0;
      font-weight: 300;
      color: $neutralColor1;
      cursor: pointer;
    }
    a.help {
      position: relative;
      span {
        position: absolute;
        width: 100%;
        bottom: 5px;
        left: 0;
      }
    }
  }
}

.mainNav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    @include clearfix();
    li {
      width: 32px;
      height: 32px;
      border: 1px solid black;
      margin-right: 8px;
      display: block;
      float: left;
      overflow: hidden;
    }
  }
}

/* .topArea */
#messages {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height: 77px;
  width: 630px;
  background-color: $neutralColor2;
  padding: 1em;
  @include box-sizing(border-box);
  .title {
    position: absolute;
    top: 0.5em;
    left: 0;
    color: $neutralColor0;
  }
  p {
    margin: 0 0 0.5em;
  }
}

.downloadLink {
  color: $neutralColor1;
  display: block;
  background-color: $mainColor;
  font-size: 2em;
  padding: 0.6em;
  text-align: center;
  cursor: pointer;
  @include box-shadow(7px 7px 0 0 $neutralColor0);
  @include single-transition(all, 400ms, ease-in-out);
  &:hover {
    @include box-shadow(none);
  }
}
/* end .topArea */

.mainSection { 
  margin-top: 30px;

  .canvasActions span {
    background-color: $neutralColor0;
    color: $neutralColor1;
  }

  .canvasContainer {
    position: relative;
    $titleHeight: 50px;
    $margin: 15px;
    .canvasBackground {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      background-color: $neutralColor2;
      height: 400px + $titleHeight + $margin;
      width: 600px + $margin * 2;
      .title {
        color: $neutralColor0;
      }
    }
    canvas {
      position: relative;
      z-index: 10;
      height: 400px;
      width: 600px;
      margin: $margin;
      margin-top: $titleHeight;
      background: transparent;
      &.hover {
        background-color: $mainColor;
        opacity: 0.5;
      }
    }
    .ui-resizable-handle {
      position: absolute;
      bottom: 0;
      right: 0;
      @include caret(bottom, right, 20px, $mainColor);
      background-image: none;
    }
    .canvasUpdates {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 200px;
      height: 50px;
      line-height: 50px;
      margin-top: -25px;
      margin-left: -100px;
      @include border-radius(5px);
      text-align: center;
      background-color: $neutralColor0;
      opacity: 0.5;
      color: $neutralColor1;
    }
  }
  aside {
    position: relative;
    height: 500px;
    @include box-sizing(border-box);
    background-color: $neutralColor0;
    overflow-y: auto;
    .placeholder {
      font-size: 12em;
    }
    .selectCode {
      display: block;
      overflow: hidden;

      width: 70%;
      margin: 10px auto;
      border: none;
      @include border-radius(5px);

      background: #bbbbbb;
      text-align: center;
      font-size: 20px;
      font-size: 1.5em;
      color: #333333;

      li {
        display: none;
        padding: 5px;
        cursor: pointer;
        &:first-child {
          display: block;
        }
        &.selected, &:hover {
          background-color: $mainColor;
          color: $neutralColor1;
        }
      }
    }
  }
}

footer#mainFooter {
  margin-top: 50px;
  .topLink {
    display: block;
    height: 100px;
    background-color: $neutralColor2;
    text-align: center;
    overflow: hidden;
  }

  .bottomFooter {
    $height: 70px;
    background-color: $neutralColor0;
    height: $height;
    line-height: $height;
    color: $neutralColor1;
    .caretContainer {
      height: $height;
      overflow: hidden;
      background-color: $neutralColor3;
    }
    span.caret {
      display: block;
      border: 90px dashed transparent;
      border-top: $height solid $neutralColor2;
      border-left: 0;
      height: 0;
      width: 0;
    }
  }
}

.tooltipButtons {
  position: absolute;
  background-color: $neutralColor0;
  padding: 10px;
  @include border-radius(5px);
  border: 2 px solid $neutralColor2;
  @include box-sizing(border-box);
  margin-top: 18px;
  .triangle-up {
    @include caret(top, bottom, 16px, $neutralColor0);
    position: absolute;
    top: -16px;
    left: 50%;
    margin-left: -16px;
  }
}

.button {
  @include border-radius(5px);
  display: block;
  padding: 5px;
  color: $neutralColor1;
  background-color: $mainColor;
  cursor: pointer;
  text-align: center;
  &:hover {
    @include box-shadow(inset 2px 2px 10px 0px $neutralColor0);
  }
}